
<div class="card-slider">
    <div class="container" >
        <div class="row">
            <ng-container *ngFor="let artist of slides; let i = index">
                <div class="col-md-3 col-sm-6 col-xs-6 search-result slide" [ngClass]="isShown(i)">
                    <div class="card">
                        <a routerLink="/artist/{{artist.id}}" class="search-result-image-wrapper">
                            <!-- image -->
                            <span *ngIf="artist.images.length == 0">
                                    <img src="http://placehold.it/650/111111/ffffff?text=NO+Image+Available" class="img-responsive" />
                                </span>
                            <span *ngIf="artist.images.length > 0">
                                    <img src="{{artist.images[0].url}}" class="img-responsive" />
                                </span>
                            <!-- image -->
                        </a>

                        <div class="card-block title-container">
                            <h5 class="card-title">{{artist.name}}</h5>
                        </div>
                        <div class="folow-artist-panel">
                            <popularity [popularity]="artist.popularity"></popularity>
                            <a class="followers-link" data-balloon="Followers" data-balloon-pos="up">{{artist.followers.total}} Followers</a>
                        </div>
                    </div>
                </div>
            </ng-container>
            <div class="slider-buttons">
                <button class="btn btn-default" (click)="previousSlide()">Previous</button>
                <button class="btn btn-default" (click)="nextSlide()">Next</button>
            </div>
        </div>
    </div>
</div>